body{
    margin: 0 auto;
    padding: 0;
    background: #fefefe;
    text-align: center;
    overflow: hidden;

}
#svgLoader{
    position: fixed;
    z-index: 5;
    bottom: 20px;
    right: 50px;
}
#patient{
    position: fixed;
    z-index: 5;
    bottom: 10px;
    left: 20px;
    color: #222;
    font-size: 12px;
    font-family: Calibri sans-serif;
}

