section{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav{
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--dark);
    transition: all .7s ease;
}